<style>#line_chart {  
    height: 1px;
     margin-top: opx;
     margin-left: 25px; }
     </style>

      <section class="content dashboard">
            <div class="main-graph">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-10 padding-0 overflow-hidden">
                            <div class="graph-area">
                                 <div id="line_chart"></div>
                            </div> 
                        </div>
                      
                    </div>
                </div>
                <!-- #END# Main Graph-->
            <div class="page-heading">
                <h1>Contest</h1>
                <ol class="breadcrumb">
                    <li><a href="/public/index">Home</a></li>
                    <li class="active">Contest</li>
                </ol>
            </div>


            <div class="panel panel-default">
            
                <div class="panel-heading"> <button type="open-button" onclick="openForm()"class="btn btn-info add-new"><i class="fa fa-plus"></i><a href="/public/create_contest"> Add New</a></button></div>
<!--<div class="form-popup" id="myForm">
 <h2>Add contest </h2>
  <form  class="form-container"action="/public/create_contest" method="POST">
    <label for="title"><b>Enter Title</b></label>
    <input type="text" placeholder="Enter Name" name="title" required>
    <label for="status"><b>Enter staus</b></label>
    <input type="text" placeholder="Enter Name" name="status" required>

    <button type="submit" class="btn">Submit</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>-->


           
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="myTable" class="table js-exportable">
                            
                            <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>contest no</th>
                                        <th>title</th>
                                        <th>status</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
            <% for(var i=0; i < data.length; i++) { %>
                                   
        <tr>
         <td><%= i+1%></td>
         <td><%=data[i].id%></td>
        <td><%=data[i].title%></td>
        <td>
        
        
          
                <% if(data[i].status) { %>
                <a href="/public/create_contest/<%=data[i].id%>&s=close" class="btn btn-info">Deactive</a>
                <% } else { %>
                <a href="/public/create_contest/<%=data[i].id%>&s=open"  class="btn btn-success" >Active</a>
                <% } %>
                </td>
        
        </td>
        
 <td><a href="/public/contest_update/<%=data[i].id%>" class="btn btn-primary"><i class="fa fa-edit">Edit</i></a></td>


<td><a href ="/public/contest_delete/<%=data[i].id%>"class="btn btn-circle  btn-lg  btn-danger"><i class="fa fa-trash"></i></a></td>
 
                                        </tr>
                                        <% } %>
                               </tbody> 
                        
                            </table>
                        </div>
                    </div>
                </div>
                <!-- #END# Task data -->
            </div>
        </section>