<style>#line_chart {  
    height: 1px;
     margin-top: opx;
     margin-left: 25px; } 
     img {
  border-radius: 50%;
} 
.ram{
    background-color:rgba(172, 178, 179, 0.539);
    border: none;
  color: white;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: 920px;
  border-radius: 6px;

}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
</style>

      <section class="content dashboard">
            <div class="main-graph">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-10 padding-0 overflow-hidden">
                            <div class="graph-area">
                                 <div id="line_chart"></div>
                            </div> 
                        </div>
                      
                    </div>
                </div>
                <!-- #END# Main Graph-->
            <div class="page-heading">
                <h1>Questions</h1>
                <ol class="breadcrumb">
                    <li><a href="/public/index">Home</a></li>
                    <li class="active">Questions</li>
                </ol>
            </div>
<div class="panel panel-default">
                <div class="panel-heading">
                <button class="btn btn-info add-new"><i class="fa fa-plus"></i> <a href="/public/create_question">Add New</a></button></div>
                <button class="ram"><a href="/public/csvfile_upload">CSV file Upload</a></button></div>

            
  
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="myTable" class="table js-exportable">
                            
                            <thead>
                    <tr>
                    <th>S.No</th>
                    <th>Image</th>
                    <th>categoryName</th> 
                    <th>categoryId</th>
                    <th>Questions</th>
                    <th>OptionA</th>
                    <th>OptionB</th>
                    <th>OptionC</th>
                    <th>OptionD</th>
                    <th>Answer</th>  
                    <th>ex date</th>               
                    <th>Action</th>
        </tr>
    </thead>
        <tbody>
            <% for(var i=0; i < data.length; i++) { %>
                                   
        <tr>
         <td><%= i+1%></td>
         <td><img src="/uploads/<%=data[i].image%>"alt="cars"style="height:35px;weight:35px;"></td>
        <td><%=data[i].category%></td>
        <td><%=data[i].category_id%></td>
         <td><%=data[i].question%></td>
         <td><%=data[i].optiona%></td>
         <td><%=data[i].optionb%></td>
         <td><%=data[i].optionc%></td>
        <td><%=data[i].optiond%></td>
        <td><%=data[i].correct_answer%></td>
        <td><%=data[i].expire_date%></td>
 

<td><a href ="/public/delete_question/<%= data[i].question_id%>"class="btn btn-circle  btn-sm  btn-danger"><i class="fa fa-trash"></i></a>

<a href="/public/update_question/<%= data[i].question_id%>" class="btn btn-primary"><i class="fa fa-edit"></i></a>

</td>
                                        </tr>
                                        <% } %>
                               </tbody> 
                        
                            </table>
                        </div>
                    </div>
                </div>
                <!-- #END# Task data -->
            </div>
        </section>