
<%-include('./partials/header.ejs')%>
<%-include('./partials/Left_Manu_bar.ejs')%>
<%-include('./partials/Right_manu_bar.ejs')%>
<style>
	.ramu{
   float: right;
   margin-right: 400px;
	}
</style>

<div class="ramu">
	<h2>Update Password </h2>
	 <form  class="form-container"action="/api/change/<%=list._id%>"  enctype="multipart/form-data" method="POST">
		<label for="model"><b>Email</b></label>
		<input type="text" placeholder="Enter email" name="email" value="<%=list.email%>">
	   <label for="name"><b>Password</b></label>
	   <input type="password" placeholder="Enter password" name="Password"value="<%=list.Password%>">
	   
	   <br><br>
	   <button type="submit" class="btn">Submit</button>
	 </form>
   </div>
   <%-include('./partials/footer.ejs')%>